body {
  margin: 3em;
  color: #000;
  line-height: 1.4;
  font-family: Georgia, serif;
  background: #efefef;
}

code {
  padding: .25em;
  background: #eee;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #999;
}

h3 {
  font-style: italic;

}

li  a {
  color: green;

}

li > a { 
  color: red;
}

h3 ~ p {
  color: orange;
}

h3 + p {
  color: yellow;
}

