/*
Project Name: Relaxr
Client: The least demanding client in the history of client-facing work.
Author: Someone B. Clever
Developer: elsner.laura@gmail.com in Chicago
*/

/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
	mar
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}

/******************************************
/* GLOBAL STYLES
/*******************************************/

/*COLORS
benefits background color: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212
*/


body {
	font-family: "Open Sans", Tahoma, Arial;
}

a {
	text-decoration: none;
}

h1 {
	font-weight: 800;
	font-size: 24px;
}

h2 {
	font-size: 24px;
	font-weight: 600;
}

footer {
	background: black;
}



/******************************************
/* SECTIONS
/*******************************************/

.hero {
	color: #fff;
	padding: 20px;
	height: 600px;
	background-color: #033048;
	margin-bottom: -30px;
}

.button-primary {
	color: #033048;
	font-weight: 800;
	font-size: 14px;
	border-radius: 5px;
	padding: 10px 30px;
	background-color: #f9e42e;
	margin-left: 800px;
	margin: 0 auto;

}

.hero-content {
	width: 600px;
	margin: 0 auto;
}

.hero h1 {
	padding-left: 20px;
	margin-bottom: 100px;
}

.hero h2 {
	margin-bottom: 100px;
	text-align: center;
}

.benefits {
	background: #f0efef;
	padding: 40px;

}

.benefits-container {
	width: 50%;
	margin-left: 100px;
}

.benefits h2 {
	color: #033048;

}

.quote {
	background: #033048;
	background-image: url('images/testimonial_bg.jpg');
}

.quote-container {
	width: 50%;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin: auto;
	text-align: center;
	padding: 40px 0;
}

blockquote {
	font-style: italic;
	font-weight: 300;
}

.sign-up {
	padding: 30px;
	background: #f9e42e;
}

.button-secondary {
	color: #fff;
	font-size: 12px;
	font-weight: 800;
	border-radius: 5px;
	padding: 10px 30px;
	background-color: #033048;

}

footer {
	margin-top: -20px;
}


footer h1 {
	color: #f9e42e;
	padding-top: 40px;
	padding-left: 40px;
}

footer p {
	color: #fff;
	text-align: center;
	padding: 20px;
	font-size: 9px;
	font-weight: 600;
}

.social {
	margin: 0 auto;
}

.facebook {
	padding: 20px;
}

.twitter {
	padding: 20px;
}








