/*
Project Name: Relaxr
Client: The least demanding client in the history of client-facing work.
Author: Someone B. Clever
Developer: elsner.laura@gmail.com in Chicago
*/

/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
	mar
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}

/******************************************
/* GLOBAL STYLES
/*******************************************/

body {
	font-family: "Open Sans", Tahoma, Arial;
}

a {
	text-decoration: none;
}

h1 {
	font-weight: 800;
	font-size: 24px;
}

h2 {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

footer {
	background: black;
}

header {
	background-image: url(images/header_bg.jpg);
	color: #fff;
	background-color: #033048;
	padding: 20px;

}

/******************************************
/* SECTIONS
/*******************************************/



.header-content {
	margin-left: auto;
	margin-right: auto;
}


.benefits {
	background: #f0efef;
}

.benefits-container {
	width: 50%;
	margin-left: 100px;

}

.quote {
	background-image: url('images/testimonial_bg');
	background: #033048;

}

.quote-container {
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}

.button-primary {
	font-weight: 800;
	font-size: 14px;
	border-radius: 5px;
	background-color: #f9e42e;
	padding: 10px 23px;
	color: #033048;
	display: inline-block;


}

.sign-up {
	background: #f9e42e;
	padding: 30px;
	width: 100%;
}

.button-secondary {
	font-weight: 800;
	font-size: 12px;
	border-radius: 5px;
	background-color: #033048;
	padding: 10px 23px;
	color: #fff;
	margin: 0 auto;

}

footer>h1 {
	color: #fff;
}

/******************************************
/* LAYOUT
/*******************************************/







