/*
Project Name: HTML Template
Client: Your Client
Author: Your Name
Developer: @poopsplat in Chicago
*/

/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: black;
  font-size: 16px;
  background: white;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* PAGES
/*******************************************/

/******************************************
/* SECTIONS
/*******************************************/